<!-- Main Footer -->

<% 
    const date = new Date();
    const yearNow = date.getFullYear(); 
%> 

<footer class="main-footer">
    <strong>Copyright &copy; <%= yearNow %>  <a href="https://digitalmarketingschool.id">Digital Marketing School</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 2.0
    </div>
  </footer>